<!-- Div para el thumbnail de la falla. -->
<div id = "thumnailFalla" class="col-lg-4 col-sm-4 col-xs-6">
  <div class="thumbnail">
    <div id ="titulo" class="caption" >
        <div id="descripcion" ></div>
        <p id="contBoton"><a id="botonVisualizador" class="btn btn-lg btn-primary" style="display:none;">Ver</a></p>
    </div>
    <img id ="imagenThumb" class="img-responsive"></img>
  <!-- <img id ="imagenThumb" class="img-responsive" src="http://localhost/tkinect2016/webGLViewer/img/default.png"></img>
   -->
  </div>


</div>


